.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #CECECE;
/* Start of upper part of footer */
    &_upper {
        display: flex;
        justify-content: center;
        margin: 40px 0;

        ul {
            margin: 0;
        }

        div {
            width: 200px;
            margin: 0 30px;
        }
    }

    &_select {
        display: flex;
        flex-direction: column;

        &_item {
            width: 230px;
            padding: 10px 5px;
            margin-bottom: 10px;
            border: 1x solid #697681;
            border-radius: 3px;
        }
    }

    &_upper_column {
        color: #656565;
        display: flex;
        text-align: left;
    }

    &_list {
        list-style: none;

        li:first-child {
            color: #646262;
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 14px;
        }

        li a{
            color: #828282;
            line-height: 22px;
            font-size: 14px;
        }
    }

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            text-decoration: underline;
                }
    }

/* Start of Lower part of footer */

    &_lower {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        border-top: 1px solid #CECECE;
        min-width: 53%;
        margin: 0 auto;
        padding: 10px;
    }
    &_signarite {
        color: #CECECE;
    }

    &_social {
        display: flex;
        flex-direction: row;
    }
    &_low_list {
        list-style: none;
        color: #828282;
        line-height: 22px;
        font-size: 14px;
        display: flex;
        margin-bottom: 0;
        li {
            padding-left: 10px;
        }

    }
}